@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradient-move {
  0% {
    transform: translateX(-20%) translateY(-20%) scale(1);
  }
  50% {
    transform: translateX(20%) translateY(20%) scale(1.2);
  }
  100% {
    transform: translateX(-20%) translateY(-20%) scale(1);
  }
}

.animate-gradient-move {
  animation: gradient-move 8s ease-in-out infinite alternate;
}
