@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --asorisa-green: #0DB14B; }
body { font-family: 'Poppins', system-ui, sans-serif; background:#050505; }

.card { @apply bg-[#0b0b0b] rounded-2xl shadow-lg p-5; }
